{erl_opts, [debug_info]}.
{deps, [
  {grisp, {git, "git@github.com:grisp/grisp.git", {branch, "master"}}},
  {grisp_cryptoauth, {git, "git@github.com:grisp/grisp_cryptoauth.git", {branch, "master"}}},
  certifi,
  {gun, "2.0.0"},
  jsx
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [grisp_seawater]}
]}.

{plugins, [rebar3_grisp]}.

{grisp, [
    {otp, [
        {version, "25"}
    ]},
    {deploy, [
        {pre_script, "rm -rf /Volumes/GRISP/*"},
        {destination, "/Volumes/GRISP"},
        {post_script, "diskutil unmount /Volumes/GRISP"}
    ]}
]}.

{relx, [
    {sys_config, "config/sys.config"},
    {release, {grisp_seawater, "0.1.0"}, [grisp_seawater]}
]}.
