{erl_opts, [debug_info]}.
{deps, [
  grisp,
  grisp_cryptoauth,
  certifi,
  {gun, "2.0.1"},
  jsx
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [grisp_io]}
]}.

{plugins, [rebar3_grisp]}.

{grisp, [
    {otp, [
        {version, "25"}
    ]},
    {deploy, [
        {pre_script, "rm -rf /Volumes/GRISP/*"},
        {destination, "/Volumes/GRISP"},
        {post_script, "diskutil unmount /Volumes/GRISP"}
    ]}
]}.

{relx, [
    {sys_config, "config/sys.config"},
    {release, {grisp_io, "0.1.0"}, [grisp_io]}
]}.
