{erl_opts, [debug_info]}.
{deps, [
  {grisp, "~> 2.5"},
  {gun, "2.1.0"},
  jsx,
  {grisp_cryptoauth, "~> 2.4"},
  {certifi, "2.13.0"}
]}.

{plugins, [rebar3_grisp, rebar3_ex_doc]}.

{grisp, [
    {otp, [
        {version, "25"}
    ]},
    {deploy, [
        {pre_script, "rm -rf /Volumes/GRISP/*"},
        {destination, "/Volumes/GRISP"},
        {post_script, "diskutil unmount /Volumes/GRISP"}
    ]}
]}.

{hex, [{doc, #{provider => ex_doc}}]}.

{ex_doc, [
    {extras, [
          {"CHANGELOG.md", #{title => "Changelog"}},
          {"README.md", #{title => "Overview"}},
          {"Board_Registration.md", #{title => "Board Registration"}},
          {"LICENSE", #{title => "License"}}
    ]},
    {main, "README.md"},
    {homepage_url, "https://github.com/grisp/grisp_connect"},
    {source_url, "https://github.com/grisp/grisp_connect"},
    {api_reference, true}
]}.

{profiles, [
    {prod, [
        {relx, [
            {release, {grisp_connect, "0.1.0"}, [grisp_connect]},
            {sys_config, "config/sys.config"}
        ]}
    ]},
    {dev, [
        {relx, [
            {release, {grisp_connect, "0.1.0"}, [grisp_connect]},
            {sys_config, "config/dev.config"}
        ]}
    ]},
    {local, [
        {deps, [
            {grisp_emulation, "0.2.2"},
            {grisp_updater_grisp2, {git, "https://github.com/grisp/grisp_updater_grisp2.git", {branch, "main"}}}
        ]},
        {overrides, [
            {add, grisp_cryptoauth, [{erl_opts, [{d, 'EMULATE_CRYPTOAUTH'}]}]}
        ]},
        {shell, [
            {apps, [grisp_emulation, grisp_updater_grisp2, grisp_connect]},
            {config, "./config/local.config"}
        ]}
    ]},
    {test, [
        {deps, [
            {grisp_emulation, "0.2.2"},
            {grisp_manager, {git, "git@github.com:stritzinger/grisp_manager", {branch, "main"}}}
        ]},
        {overrides, [
            {add, eresu, [{erl_opts, [{d, 'TEST'}]}]},
            {add, grisp_cryptoauth, [{erl_opts, [{d, 'EMULATE_CRYPTOAUTH'}]}]}
        ]},
        {ct_opts, [{sys_config, "./config/test.config"}]}
    ]}
]}.
