[
    {grisp_cryptoauth, [
        {tls_server_trusted_certs, {priv, grisp_connect, "server"}}
    ]},

    {grisp_connect, [
        {domain, "www.seawater.local"},
        {port, 8443}
    ]},

    {kernel, [
        {logger_level, debug},
        {logger, [
            {handler, default, logger_std_h, #{
                config => #{type => standard_io},
                filter_default => log,
                filters => [
                    % Filter out supervisor progress reports so
                    % TLS certificates are not swamping the console...
                    {disable_progress, {fun logger_filters:progress/2, stop}}
                ]
            }}
        ]}
    ]}
].
