[
    {grisp, [
        {emulation, {grisp2, grisp_emulation}}
    ]},

    {grisp_cryptoauth, [
        {tls_client_trusted_certs, {test, grisp_connect, "certs/CA.crt"}},
        {client_certs, {test, grisp_connect, "certs/client.crt"}},
        {client_key, {test, grisp_connect, "certs/client.key"}},
        {tls_verify, verify_none}
    ]},

    {grisp_connect, [
        {domain, localhost},
        {port, 3030}
    ]},

    {kernel, [
        {logger_level, debug},
        {logger, [
            {handler, default, logger_std_h, #{
                config => #{type => standard_io},
                filter_default => log,
                filters => [
                    % Filter out supervisor progress reports so
                    % TLS certificates are not swamping the console...
                    {disable_progress, {fun logger_filters:progress/2, stop}}
                ]
            }}
        ]}
    ]}
].
