[
    {grisp, [
        {emulation, {grisp2, grisp_emulation}},
        {devices, [
            {spi1, pmod_gyro},
            {spi2, pmod_nav}
        ]}
    ]},
    {grisp_io, [
        {domain, localhost},
        {port, 3030},
        {devices, [
            {spi1, pmod_gyro},
            {spi2, pmod_nav}
        ]}
    ]}
].
